.password-strength-levels {
  color: #FFF;
  margin-top: 6px;
  margin-bottom: -28px;
  text-align: left;
  white-space: nowrap;
}
.password-strength-levels.help-active {
  margin-bottom: -48px;
}
@media (max-width: 500px) {
  .password-strength-levels.help-active {
    margin-bottom: -10px;
  }
}

.password-strength-levels .password-strength-level,
.password-strength-levels .password-strength-label {
  display: inline-block;
  vertical-align: top;
}

.password-strength-levels .password-strength-level {
  height: 5px;
  background: rgba(255,255,255,.2);
  width: 24%;
  margin-left: 1.33%;
  transition: width .3s .2s, margin .3s .2s, background .3s;
}
.password-strength-levels.active .password-strength-level {
  width: 19%;
  margin-left: 1.25%;
  transition: all .3s;
}
.password-strength-levels .password-strength-level:first-child {
  margin-left: 0;
}
.password-strength-levels.poor .password-strength-level.active {
  background: #F6422B;
}
.password-strength-levels.okay .password-strength-level.active {
  background: #FFBE26;
}
.password-strength-levels.good .password-strength-level.active {
  background: #33BB7C;
}

.password-strength-levels .password-strength-label {
  width: 19%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: absolute;
  right: 0;
}
.password-strength-levels.active .password-strength-label {
  opacity: .4;
  visibility: visible;
  transition: all .3s .2s;
}
.password-strength-levels.okay .password-strength-label {
  transition: all .3s;
}
.password-strength-levels.good .password-strength-label {
  opacity: 1;
  transition: all .3s;
}

.password-strength-levels .password-strength-help {
  transition: max-height .5s, opacity .3s .5s, visibility .3s .5s;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255,255,255,.5);
  line-height: 24px;
}
.password-strength-levels .password-strength-help .password-strength-criterion {
  padding-left: 1.6em;
  position: relative;
  font-weight: 400;
}
.password-strength-levels .password-strength-help .password-strength-criterion.active {
  color: rgba(255,255,255,1);
}
.password-strength-levels .password-strength-help .password-strength-criterion:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 50%;
}
.password-strength-levels .password-strength-help .password-strength-criterion.active:before {
  background: url(/img/ic-check-w-11.svg) center no-repeat #33BB7C;
  background-size: 8px;
  border-color: #33BB7C;
}
.password-strength-levels.help-active .password-strength-help {
  opacity: 1;
  visibility: visible;
  margin-top: 5px;
  max-height: 120px;
}
